*
{
  font-family: cursive;
  font-size: 20px;
  text-align: center;
}

body
 {
  background-color: rgb(27, 86, 127);
  background-color: teal;
 }

h1
 {
  background-color: rgb(170, 72, 72);
}

h2
{
    background-color: rgb(199, 228, 249);
}

p
{
    background-color: rgb(199, 228, 249);

}
li {
  text-align: left;
}
.dogimages
{
  height: 300px;
}
